body {
  background-color: #D3E3E5;
}

/* #carouselExampleControls {
  margin: 0;
  width: 100%;
} */

h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #424B54;
}

h5 {
 font-family: 'Literata', serif;
 font-size: 24px
 text-align: center;
 color: #424B54;
 margin-left: 15px;
 margin-right: 15px;
}

h2 {
  font-family: 'Alice', serif;
  text-align: center;
  color: #424B54;
}
.carousel {
 width:640px;
 height:400px;
 margin: 0 auto;
}

h3 {
 text-align: center;
 font-family: 'Literata';
 color: #424B54;
 font-size: 16px;
}

.addBorder {
  border: 5px solid #93A8AC;
}

h4 {
  font-family: 'Allan', cursive;
  text-align: left;
  color: #424B54;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
