body {
  background-color: #D3BDB0;
}
h1 {
  font-family: 'Bangers', cursive;
  text-align: center;
}

h2 {
  text-align: left;
  font-family: 'Literata';
  color: black;
}

h3 {
  font-family: 'Literata';
  color: black;
  font-size: 16px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
